@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  min-width: 100%;
  overflow-x: hidden;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

:root{  
  --cor-principal: 97.54deg, #002F52 35.49%, #326589 165.37%;
  --cor-gray: rgba(235, 236, 238, 1);
  --cor-secundaria: rgba(235, 155, 0, 1);
  --text-white: #fff;
  --text-blue: rgba(0, 47, 82, 1);
}

.swiper-wrapper{
  margin-top: 4rem !important;
}

/* .swiper-slide{
  width: max-content !important;
} */



.swiper-pagination{
  bottom: 93% !important;
}


.swiper-button-next, .swiper-button-prev{
  display: none !important;
}

@media screen and (min-width: 1024px) {
  .swiper-button-next, .swiper-button-prev{
    display: flex !important;
    background: linear-gradient(var(--cor-principal));
    color: #fff !important;
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem !important;
  }

  .swiper-button-prev{
    /* margin-left: -30px !important; */
  }

  .swiper-wrapper{
    padding-left: 1.875rem !important;
  }

  .swiper-button-next::after, .swiper-button-prev::after{
    font-size: 1.25rem !important;
  }


  
}