.topics_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(var(--cor-principal));
    
}
.conteudo{
    display: flex;
    flex-direction: column;
    padding: 2rem .9375rem;
    width: 100%;
    gap: 2rem;

}

.topics_container h2{
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 200;
}

.topics{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    flex: auto;
}

.topics span{
    background-color: var(--cor-secundaria);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.3125rem;
    padding: 1.25rem;
    font-weight: bold;
}


@media screen and (min-width: 1024px) {
    .conteudo{
        max-width: 600px;
    }
}